fastapi
uvicorn

#Database
sqlalchemy
psycopg2

#env vars
python-dotenv

#email validation
pydantic[email]

#hashing 
passlib[bcrypt]

#testing
pytest
requests
pytest-cov

# JWT
python-jose

# form data
python-multipart